<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>All ratings</title>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>

	<div th:replace="fragments/navigation :: navbar"></div>

<h1>All User Ratings</h1>

	<table id="ratings">
		<thead>
			<tr>
				<th>User</th>
				<th>Movie</th>
				<th>Rating</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="rating : ${ratingsList}">
				<td th:text="${rating.userId}"></td>
				<td th:text="${rating.movieId}"></td>
				<td th:text="${rating.rating}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>